/* tables */
table.tablesorter {
	font-family:arial;
	width: 100%;
	text-align: left;
}
table.tablesorter thead th {
	text-align:left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #ccc;
}
.heart13 {
        background-image: url(heart13.gif);
	background-repeat: no-repeat;
	background-position: center center;
}