
@media print {
    #FudanFooter{display:none}
}
@media screen {
    #FudanLogoWrapper {
      display: block;
      background: #804000;
      height: 60px;
      padding: 0;
      margin: 0;
      border: 0;
    }
    #FudanLogoWrapper img {
      position: fixed;
      right: 20px;
      top: 68px;  /* 18+40 */
      z-index: 999;
      width: 170px;
    }
    #FudanTitleWrapper {
      display: block;
      text-align: center;
      padding: 80px 0;
      margin: 0;
      border: 0;
      background-image: url('https://2020.igem.org/wiki/images/f/f7/T--Fudan--title_background.png');
      background-repeat: no-repeat;
    }
    #FudanSignature {
      background-image: url('https://2020.igem.org/wiki/images/e/ee/T--Fudan--sealed_envelope.svg');
      background-repeat: no-repeat;
      height: 400px;
      margin-bottom: -82px;
    }
    #FudanSignature p {
      text-align: center;
      margin: 200px auto 0 auto;
      color: white;
    }
    #FudanSignature a {
      color: white;
      text-decoration: none;
    }
    #FudanFooter {
      background-color: #804000;
      padding-top: 0;
    }
    #FudanFooter div {
      box-sizing: border-box;
    }
    #FudanFooter .container {
      width: 90%;
    }
    #FudanFooter ul {
      margin: 0;
      padding: 0;
    }
    #FudanFooter li {
      list-style: none;
    }
    #FudanFooter a {
      text-decoration: none;
    }
    #FudanFooter h3:before {
      content: normal;
      margin: 10px 0 10px 0;
    }
    #acknowledgementPhoto span {
      position: absolute;
      bottom: 5%;
      z-index: 10;
      display: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.86);
    }
    #FudanFooter #footerNavList {
      color: #ffc86e;
      padding-left: 1rem;
      padding-top: 3rem;
    }
    #FudanFooter #footerNavList ul {
      font-size: 13px;
      line-height: 14px;
      border-top: solid 2px;
      color: inherit;
      text-decoration: none;
      padding-top: 5px;
    }
    #FudanFooter #footerNavList div {
      color: #ffc86e;
    }
    #FudanFooter h3 {
      color: #ffc86e;
    }
    #FudanFooter #footerNavList div:hover {
      color: white;
    }
    #FudanFooter #footerNavList a {
      color: inherit;
    }
    #FudanFooter #footerNavList a:hover {
      text-decoration: underline;
    }
    #FudanFooter #footerNavList div.active,
    #FudanFooter #footerNavList div.active a {
      color: white;
    }
    #FudanFooter #footerNavList div.active ul {
      border-top: solid white 2px;
    }
    #FudanFooter #footerNavList li {
      padding: 3px 0 6px 3px;
    }
    #footerNavList span {
      font-size: 20px;
    }
    #footerNavList > div > div {
      padding-left: 1.2rem;
    }
    #FudanFooter div.footer-copyright {
      font-size: 13px;
      line-height: 15px;
    }
    #acknowledgementPhoto {
      width: 100%;
      position: relative;
    }
    #acknowledgementPhoto > div {
      width: 100%;
      position: relative;
      vertical-align: top;
    }
    #acknowledgementPhoto div.row > div {
      position: relative;
      padding: 0 10px;
      margin: 10px 0;
      overflow: hidden;
      text-align: center;
      bottom: 0;
    }
    #acknowledgementPhoto img {
      width: 100%;
    }
    #FudanFooter img {
      margin: 5px 0;
    }
    #FudanFooter div.row {
      margin: 5px 0;
      padding: 0;
    }
    #FudanFooter div.row > img {
      padding: 0 2%;
    }
  .igem_content_wrapper .igem_column_wrapper .column.half_size { width: 45.8% }
  .igem_content_wrapper .igem_column_wrapper .column.half_size img {
    margin-bottom: 15px;
    width: 100%;
  }
  @media only screen and (max-width: 1100px) {
    .igem_content_wrapper .igem_column_wrapper .column.half_size { width: 96% }

  }
}