<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/0igem.css">
  <title>copy only below huge spaces</title>
</head>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Team_Fudan_hTML skin-igem action-view">
<div class="igem_content_wrapper">
<div class="igem_column_wrapper">
<!--
                      仅仅复制20行之后的内容，并注意去掉22行末的 右向文本尖头 的三个字符
                      ////////////





{{IGEM_TopBar}}
{{Fudan}}
<html>    -->
<link rel="stylesheet" href="/wiki/index.php?title=Template:Fudan/materialize.min.css&action=raw&ctype=text/css">
<style>
@font-face {
  font-family: 'Pristina';
  src: url('https://2020.igem.org/wiki/images/3/3f/T--Fudan--pristina-webfont.eot'); /* IE9 Compat Modes */
  src: url('https://2020.igem.org/wiki/images/3/3f/T--Fudan--pristina-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('https://2020.igem.org/wiki/images/3/30/T--Fudan--pristina-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://2020.igem.org/wiki/images/f/fa/T--Fudan--pristina-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://2020.igem.org/wiki/images/5/5b/T--Fudan--pristina-webfont.svg') format('svg'); /* Legacy iOS */
}
@media print {
    #FudanFooter{display:none}
}
@media screen {
    div.bar_button.main_page, div.bar_button.general_menu {
      height: 40px !important;
    }
    #mw-content-text > div.top_bar,
    #mw-content-text > div.menu_container {
      z-index: 2;
    }
    #FudanLogoWrapper img {
      z-index: 999;
      position: fixed;
      left: -1%;
      top: 58px;  /* 18+40 */
      width: 170px;
    }
    #FudanTitleWrapper {
      display: block;
      text-align: center;
      padding-top: 12rem;
      margin: 0;
      border: 0;
      background-image: url('https://2020.igem.org/wiki/images/f/f2/T--Fudan--letterhead.svg');
      height: 342px;
      background-repeat: no-repeat;
      background-position: top center;
    }
    #FudanSignature {
      background-image: url('https://2020.igem.org/wiki/images/e/ee/T--Fudan--sealed_envelope.svg');
      height: 462.47px;
      background-repeat: no-repeat;
      background-position: bottom center;
      margin-bottom: -25px;
      position: relative;
      z-index: 0;
    }
    #FudanSignature p {
      font-family: Pristina;
      font-size: 2rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
      position: absolute;
      bottom: 1rem;
      width: 100%; /* MUST FOR TEXT CENTER */
      text-align: center;
    }
    #FudanSignature a {
      font-family: Pristina;
      font-size: 2rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
      text-decoration: none;
      padding: 5px;
    }
    #FudanFooter {
      background-color: #804000;
      padding-top: 0;
    }
    #FudanFooter div {
      box-sizing: border-box;
    }
    #FudanFooter .container {
      width: 90%;
    }
    #FudanFooter ul {
      margin: 0;
      padding: 0;
    }
    #FudanFooter li {
      list-style: none;
    }
    #FudanFooter a {
      text-decoration: none;
    }
    #FudanFooter h3:before {
      content: normal;
      margin: 10px 0 10px 0;
    }
    #acknowledgementPhoto span {
      position: absolute;
      bottom: 5%;
      display: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.86);
    }
    #FudanFooter #footerNavList {
      color: #ffc86e;
      padding-left: 1rem;
      padding-top: 3rem;
    }
    #FudanFooter #footerNavList ul {
      font-size: 13px;
      font-weight: normal;
      line-height: 14px;
      /*border-top: solid 2px;*/
      color: inherit;
      text-decoration: none;
      padding-top: 5px;
    }
    #FudanFooter #footerNavList span {
      /*border-left: solid 4px #fff5e3;
      padding-left: 2px;*/
      margin-left: -3px;
    }
    #FudanFooter #footerNavList span > a {
      color: #fff5e3;
    }
    #FudanFooter h3 {
      color: #ffc86e;
    }
    #FudanFooter .FudanSocialIcons, #FudanFooter .FudanSponsors {
      opacity: 0.5;
    }
    #FudanFooter img:hover {
      opacity: 1;
    }
    #FudanFooter #footerNavList div:hover {
      color: white;
    }
    #FudanFooter #footerNavList a {
      color: #ffc86e;
    }
    #FudanFooter #footerNavList a:hover {
      text-decoration: underline;
    }
    /*#FudanFooter #footerNavList div.active,
    #FudanFooter #footerNavList div.active a {
      color: white;
    }
    #FudanFooter #footerNavList div.active ul {
      border-top: solid white 2px;
    }*/
    #FudanFooter #footerNavList li {
      padding: 3px 0 6px 3px;
    }
    #footerNavList span {
      font-size: 20px;
      font-weight: normal;
    }
    #footerNavList > div > div {
      padding-left: 1.2rem;
    }
    #FudanFooter div.footer-copyright {
      font-size: 13px;
      line-height: 15px;
    }
    #acknowledgementPhoto {
      width: 100%;
      position: relative;
    }
    #acknowledgementPhoto > div {
      width: 100%;
      position: relative;
      vertical-align: top;
    }
    #acknowledgementPhoto div.row > div {
      position: relative;
      padding: 0 10px;
      margin: 10px 0;
      overflow: hidden;
      text-align: center;
      bottom: 0;
    }
    #acknowledgementPhoto img {
      width: 100%;
      margin: 5px 0;
    }
    #FudanFooter div.row {
      margin: 5px 0;
      padding: 0;
    }
  .igem_content_wrapper .igem_column_wrapper .column.half_size { width: 45.8% }
  .igem_content_wrapper .igem_column_wrapper .column.half_size img {
    margin-bottom: 15px;
    width: 100%;
  }
  @media only screen and (max-width: 1100px) {
    .igem_content_wrapper .igem_column_wrapper .column.half_size { width: 96% }
  }
}
</style>
<header>
  <div id="FudanLogoWrapper" style="opacity:0.01">
    <a href="#FudanTitleWrapper" target="_self">
      <img src="https://2020.igem.org/wiki/images/0/0e/T--Fudan--logo_2.svg" alt="team Fudan color logo" />
    </a>
  </div>
  <div class="row" id="FudanTitleWrapper">
    <div class="col m2 l3 hide-on-small-only">&nbsp;</div>
    <div class="col s12 m8 l6">
      <img src="https://2020.igem.org/wiki/images/0/0e/T--Fudan--title_entr.svg" alt="需要更改标题图片" style="width:100%">
      </div>
  </div>
  <div class="clear"></div>
</header>
<article><!-- 此处以下即需要每人进行修改的内容
              在 /article 之前
              请详细阅读 https://2020.igem.org/Resources/Template_Documentation 使用大赛内置样式，细看已经有的例子足够做好页面
              不要页面内用css魔改，你肯定没有内置样式考虑各种浏览器全面
              html代码不在乎多个空格，仅显示一个
         -->
  <h1>一句短语概括整个页面，不要用overview这类无实际意义的词或词组</h1>
  <div class="column full_size">
    <p>页面摘要，或者是单项奖核心点 Our project aims at converting engineered Our project aims at converting engineered
Our project aims at converting engineered Our project aims at converting engi
neered Our project aims at converting engineered
Our project aims at converting engineered Our project aims at converting engineered
Our project aims at converting engineered </p>
  </div>

  <div class="clear extra_space"></div><!-- 一个章节结束需要clear来留白 如果觉得内容间差异大再加上extra_space -->

  <h2>每个章节标题用h2 为了搜索引擎全页面只能一个h1标签</h2>
  <div class="column two_thirds_size">
    <img src="https://2020.igem.org/wiki/images/8/8b/T--Fudan--map_2.svg" alt="map of calcium intake" />
  </div>
  <div class="column third_size">
    <p>在宽屏，这部分内容占页面1/3；窄屏就是全幅。添加了column同时 图2/3 + 字1/3 正好宽屏的一幅。 China has an estimated 70 million osteo
porosis patien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis patien</p>
  </div>
  <div class="clear"></div><!-- 一个章节结束需要clear来留白 -->

  <h2>每个章节标题用h2 为了搜索引擎全页面只能一个h1标签</h2>
  <div class="column half_size">
    <img src="https://2020.igem.org/wiki/images/8/8b/T--Fudan--map_2.svg" alt="map of calcium intake" />
  </div>
  <div class="column half_size">
    <p>在宽屏，这部分内容占页面1/2；窄屏就是全幅。添加了column同时 图1/2 + 字1/2 正好宽屏的一幅。这个代码不在 https://2020.igem.org/Resources/Template_Documentation 但是是支持的 China has an estimated 70 million osteo
porosis patien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis patien</p>
  </div>
  <div class="clear"></div><!-- 一个章节结束需要clear来留白 -->

  <h2>每个章节标题用h2 为了搜索引擎全页面只能一个h1标签</h2>
  <div class="column third_size">
    <img src="https://2020.igem.org/wiki/images/8/8b/T--Fudan--map_2.svg" alt="map of calcium intake" />
  </div>
  <div class="column two_thirds_size">
    <p>在宽屏，这部分内容占页面1/3；窄屏就是全幅。添加了column同时 图1/3 + 字2/3 正好宽屏的一幅。 China has an estimated 70 million osteo
porosis patien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis patien</p>
  </div>
  <div class="clear"></div><!-- 一个章节结束需要clear来留白 -->

  <div class="column full_size"><!-- 全幅面的文字内容，上面是否留白可选 -->
                    <p>However, for the Chinese population, the bottlenecks are
                    as follows:
                </p>
                <ol>
                    <li>注意这里列表的写法 页面字会变深 突出内容 ol是编数字的 nts</li>
                    <li>calcium-supplementing pills daste</li>
                    <li>The body's absorptioes as calcium intake increases</li>
                    <li>Vegetables conta列表的写法 页面字会变深 突出内容 ol是编数字的 ul是没有标数字的列表 </li>
                </ol>
                <p>
                    However, the currently popular calcium supplement method on the market is either to adjust diet or to consume a lot of calcium supplementing pills. For the elderly, they suffer from poor memory or neglect the importance of calcium pills, often forgetting to consume the supplement; for children, they often refuse to take calcium pills or to maintain some diet high in calcium, thus requiring the "liquid calcium" method to ensure sufficient calcium intake. Ho可以 继续大段内容
                </p>


<div class="highlight decoration_background decoration_A_top">
  <p>
    章节内容的分段就用p开p关，额外需要关注的可以套一个highlight的框，有多种版本
    </p>
</div>
                    <p>
                    章节内容的分段就用p开p关
                    </p>
<div class="highlight decoration_B_full">
  <p>
    章节内容的分段就用p开p关，额外需要关注的可以套一个highlight的框，细看 https://2020.igem.org/Resources/Template_Documentation#highlight
    </p>
</div>
                    <p>
                    章节内容的分段就用p开p关
                    </p>
                    <p>
                    章节内容的分段就用p开p关 <a href="https://URL"> EXAM 外部链接 href尽量使用https </a>
                    </p>
                <ul>
                    <li>注意这里列表的写法 页面字会变深 突出内容 ul是没有标数字的列表 nts</li>
                    <li>calcium-supple menting pills don’t haat taste</li>
                    <li>Vegetables conta列表的写法 页面字会变深 突出内容 ol是编数字的 ul是没有标数字的列表 </li>
                </ul>
                    <p>
                    章节内容的分段就用p开p关
                    </p>
  </div><!-- 每个幅面结束都需要 关div -->

  <div class="clear extra_space"></div><!-- 一个章节结束需要clear来留白 如果觉得内容间差异大再加上extra_space -->

  <h2>又来个章节 sis</h2>
  <div class="column full_size">
                <p>引入文字 ion.</p>
                <p>Firstly, the product is designed for oral use and our target user is the elderly. 英文分项不需要ol或ul</p>
                <ol>
                    <li>The produc</li>
                    <li>The short pep</li>
                    <li>The expression level of short peptides has a threshold, preventing any excessive calcium absorption that might lead to hypercalcemia 注意句子超长后的回折</li>
                    <li>There is a kill swit.</li>
                </ol>

                <p>
                Based on relevant research, the product is exp 章节内分段 ina. tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis pat
            </p>

            <p>Compared w 章节内分段 ique advantages tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis pat tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis pat tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis pat.
            </p>

<table>
<tr>
<th> Header 1 这是igem hq的表格的写法 </th> <th> Header 2 </th>
</tr>
<tr>
<td> Content A 1 </td> <td> Content B 1 </td>
</tr>
<tr>
<td> Content A 2 </td> <td> Content B 2  这是igem hq的表格的写法。表格都需要说明，之前之后都会有p来文字 </td>
</tr>
</table>

<p></p><!-- 无文字p是换行隔开，在关闭的html元素间回车是没有用的 -->

<table class="striped"><!-- 这是另一个版本的表格，间隔行有阴影。一个页面不建议交叉两种格式。太宽表格可以加 responsive-table 方便窄屏 -->
<tr>
<th>Name</th>  <th>Item Name</th>  <th>Item Price</th>
</tr>
<tr>
<td>Alvin</td> <td>Eclair</td> <td>$0.87</td>
</tr>
<tr>
<td>Alan</td> <td>Jellybean</td> <td>$3.76</td>
</tr>
<tr>
<td>Jonathan</td> <td>Lollipop</td> <td>$7.00</td>
</tr>
</table>

<p>Calciu 章节内分段 fety. tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estima
ted 70 million osteoporosis pat tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 mill
ion osteoporosis pattien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 million osteoporosis pat
            </p>

            <p>From the us 章节内分段 etition.</p>
  </div>

  <div class="clear"></div><!-- 一个章节结束需要clear来留白 -->

  <h2>再来例子 Market Analysis</h2>
  <div class="column half_size">
    <p>文本在左侧一半，宽屏 According to the Chinese Dietetic Sociietary Nutrient Intakes of Chinese Residents", the calcium requirement for infants and young children increases with age, from 300mg/day to 800mg/day, and the calcium requirement for adolescents reaches 1000mg/day. The amof the required intake, with the small exception of some coastal and pastoral areas 图片在右侧一半</p>

<table>
<tr>
<th> 这是igem hq的表格的写法 </th> <th> Header 2 </th> <th> Header 3 </th>
</tr>
<tr>
<td> Content A 1 </td> <td> Content B 1 </td> <td> Content C 1 </td>
</tr>
<tr>
<td colspan=2> 列融合 </td> <td> Content C 2  这是igem hq的表格的写法。半幅或者2/3幅可以用。<br/>行融合<br/>就<br/>用br了 </td>
</tr>
</table>

  </div>
  <div class="column half_size">
    <img src="https://2020.igem.org/wiki/images/0/00/T--Fudan--calcium_intake_graph.svg" alt="calcium intake graph">
  </div>

  <div class="clear extra_space"></div><!-- 一个章节结束需要clear来留白 因为马上最后一幅，建议extra_space -->

  <div class="column full_size">
    <p>每页结束需要小结，可以 ul ol 列表highlight，可以是每页第一段的另一种写法fety. tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estima
ted 70 million osteoporosis pat tien China has an estimated 70 million osteoporosis patien China has an estimated 70 million osteoporosis patienChina has an estimated 70 million oste
oporosis patienChina has an estimated 70 mi 每页结束需要小结，可以 ul ol 列表highlight，可以是每页第一段的另一种写法</p>
  </div>

  <div class="column full_size"><div id="FudanSignature">
      <p>Signature: <a href="/Team:Fudan/Attributions#姓全部的拼音首字母大写名缩写且大写" class="z-depth-2">作者的名</a>
                                                     <!-- 与你在系统注册的一致为佳 卫子源 如下 各个页面要统一 -->
                    <a href="/Team:Fudan/Attributions#WeiZY" class="z-depth-2">Ziyuan</a>
        </p>
  </div></div>

<!-- 此处以上可更改
     此处以下不需要更改
     每次active页面将会由js自动判断
                  -->
  <div class="clear"></div><!-- MUST HAVE -->
</article>

<!-- img src="https://2020.igem.org/wiki/images/6/68/T--Fudan--up_arrow.svg" alt="arrow" -->

<footer class="page-footer" id="FudanFooter">
  <div class="container"><div class="row">
    <div class="col m3 s12 row"
         style="margin-top:4rem" >
      <a href="http://www.yfc.cn/" target="_blank"><img class="col s3 m6 l4 FudanSponsors" alt="Yunfeng Capital" src="https://2020.igem.org/wiki/images/b/ba/T--Fudan--YFcapital.svg"> </a>
      <a href="http://www.fudan.edu.cn/en/" target="_blank"><img alt="Fudan University" class="col s3 m6 l4 FudanSponsors" src="https://2020.igem.org/wiki/images/9/9d/T--Fudan--sponsor2.svg"> </a>
      <a href="http://life.fudan.edu.cn/" target="_blank"><img class="col s3 m6 l4 FudanSponsors" alt="School of Life Sciences, Fudan University" src="https://2018.igem.org/wiki/images/1/1d/T--Fudan--schoolOfLifeSciencesIcon.png"> </a>
      <h3 class="col s12"
          style="text-align:left;font-size:1rem;margin:0;padding-left:0.68rem">Bone appetite: <i>make calcium supplement sustainable</i></h3>
    </div>
    <div id="footerNavList" class="col m9 s12 row">
      <div class="col s12 l6 row">
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Description#Project">Project</a></span>
          <ul><li><a href="/Team:Fudan/Description">Description</a></li>
            <li><a href="/Team:Fudan/Sustainable">Sustainable</a></li>
            <li><a href="/Team:Fudan/Design">Design</a></li>
            <li><a href="/Team:Fudan/Experiments">Experiments</a></li>
            <li><a href="/Team:Fudan/Proof_Of_Concept">Proof&nbsp;of&nbsp;concept</a></li>
        </ul></div>
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Notebook">Notebook</a></span>
          <ul><li><a href="/Team:Fudan/Safety">Safety</a></li>
            <li><a href="/Team:Fudan/Poster">Poster</a></li>
            <li><a href="https://video.igem.org/videos/watch/7a0fee51-a637-4caf-aa97-a1d9bcafd3ba" target="_blank">Promotion</a></li>
            <li><a href="#" target="_blank">Presentation</a></li>
            <li><a href="/Team:Fudan/Entrepreneurship">Entrepreneurship</a></li>
        </ul></div>
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Results">Results</a></span>
          <ul><li><a href="/Team:Fudan/Contribution">Contribution</a></li><!-- replace Judging -->
            <li><a href="/Team:Fudan/Implementation">Implementation</a></li>
            <li><a href="/Team:Fudan/Engineering">Engineering</a></li>
            <li><a href="/Team:Fudan/Measurement">Measurement</a></li>
            <li><a href="/Team:Fudan/Model">Modeling</a></li>
        </ul></div>
      </div>
      <div class="col s12 l6 row">
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Parts">Parts</a></span>
          <ul><li><a href="/Team:Fudan/Parts#Basic">Basic&nbsp;part</a></li>
            <li><a href="/Team:Fudan/Parts#Composite">Composite&nbsp;part</a></li>
            <li><a href="/Team:Fudan/Improve">Improvement</a></li>
            <li><a href="/Team:Fudan/Part_Collection">Part&nbsp;collection</a></li>
        </ul></div>
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Human_Practices">Outreach</a></span>
          <ul><li><a href="/Team:Fudan/Human_Practices#Integrated">Integrated&nbsp;HP</a></li>
            <li><a href="/Team:Fudan/Education">Education</a></li>
            <li><a href="/Team:Fudan/Collaborations">Collaborations</a></li>
            <li><a href="/Team:Fudan/Inclusion">Inclusion</a></li>
        </ul></div>
        <div class="col s12 m4">
          <span><a href="/Team:Fudan/Team">Team</a></span>
          <ul><li><a href="/Team:Fudan/Team">Members</a></li>
            <li><a href="/Team:Fudan/Attributions">Attributions</a></li>
            <li><a href="/Team:Fudan/Partnership">Partnership</a></li>
            <li><a href="/Team:Fudan/Acknowledgement">Acknowledgement</a></li>
            <li><a href="/Team:Fudan-TSI/Heritage">Heritage</a></li>
        </ul></div>
        <div class="col s12 m4">&nbsp;</div>
      </div>
    </div>
  </div></div>
  <!--div class="footer-copyright"><div class="container"><div class="contactUS row">
    <div class="col s12 m6 l4"><i class="fa fa-location-arrow"></i> Life Sci Bldg, 2005 Songhu Rd, Shanghai</div>
    <div class="col s12 m6 l2"><i class="fa fa-fax"></i> +86-21-31246727</div>
    <div class="col s12 m6 l2"><i class="fa fa-envelope-o"></i> igem@fudan.edu.cn</div>
    <div class="col s12 m6 l4"><i class="fa fa-twitter"></i> <i class="fa fa-wechat"></i> Fudan_iGEM</div>
  </div></div></div-->

  <div class="row">
    <div class="col s12 hide-on-small-only">
      <img src="https://2020.igem.org/wiki/images/2/20/T--Fudan--socials_divider.svg" alt="---- ---- ---- ----">
      <br/><br/>
    </div>
    <div class="col m2 hide-on-small-only">&nbsp;</div>
    <div class="col s3 m2">
      <a target="_blank" href="https://twitter.com/fudan_igem">
        <img class="FudanSocialIcons" src="https://2020.igem.org/wiki/images/2/24/T--Fudan--twitter_logo_yellow.svg" alt="twitter @Fudan_iGEM"></a>
      </div>
    <div class="col s3 m2">
      <a target="_blank" href="https://www.instagram.com/igem_fudan2020/">
        <img class="FudanSocialIcons" src="https://2020.igem.org/wiki/images/3/30/T--Fudan--ig_logo_yellow.svg" alt="instagram"></a>
      </div>
    <div class="col s3 m2">
      <a target="_blank" href="https://weibo.com/u/6299186826">
        <img class="FudanSocialIcons" src="https://2020.igem.org/wiki/images/c/ca/T--Fudan--weibo_logo_yellow.svg" alt="weibo"></a>
      </div>
    <div class="col s3 m2">
      <a target="_blank" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUzODQ2MDkzOA==&scene=124#wechat_redirect">
        <img class="FudanSocialIcons" src="https://2020.igem.org/wiki/images/8/86/T--Fudan--wechat_1.svg" alt="wechat @Fudan_iGEM"></a>
      </div>
  </div>
  <br/><br/>
</footer>

<!-- .igem_column_wrapper .igem_content_wrapper --></div></div>

<div class="progress" style="position:fixed;top:8px;width:100%;float:left;z-index:999">
  <div class="determinate" style="width:1%" id="FudanLoader"></div>
</div>